@font-face {
    font-family: montserrat;
    src        : url("../fonts/montserrat-regular.otf");
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: montserrat;
    src        : url("../fonts/montserrat-light.otf");
    font-weight: 300;
    font-style : normal;
}

@font-face {
    font-family: montserrat;
    src        : url("../fonts/montserrat-extralight.otf");
    font-weight: 200;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-regular.ttf");
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-medium.ttf");
    font-weight: 500;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-semibold.ttf");
    font-weight: 600;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-bold.ttf");
    font-weight: 700;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-extrabold.ttf");
    font-weight: 800;
    font-style : normal;
}

@font-face {
    font-family: roboto;
    src        : url("../fonts/roboto-regular.ttf");
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: MyriadPro;
    src        : url("../fonts/myriadpro-regular.ttf");
    font-weight: 400;
    font-style : normal;
}


.conteiner {
    max-width: 1920px;
    width    : 100%;
    margin   : 0 auto;
}

/*HEADER*/

.content {
    width            : 100%;
    background-image : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_photo_11949.png);
    min-height       : 1024px;
    background-size  : 100% 100%;
    background-repeat: no-repeat;
    padding          : 40px 150px 0 150px;
    box-sizing       : border-box;
}

.page-header {
    max-width       : 1124px;
    margin          : 0 auto 245px;
    display         : flex;
    background-color: inherit;
    display         : flex;
    justify-content : center;
    align-items     : center;
    align-content   : center;


    .menu {
        width          : 100%;
        display        : flex;
        justify-content: flex-end;

    }

    .header-item {
        display        : flex;
        justify-content: center;

    }


    .header-item-list {
        list-style: none;
        padding   : 0 30px 0 0;
    }

    .header-item-list:last-child {
        padding: 0;
    }

    .header-item-list-link {
        text-decoration: none;
        font-family    : 'montserrat', 'arial', sans-serif;
        font-weight    : 300;
        font-style     : normal;
        font-size      : 14px;
        line-height    : 1.2;
        color          : #ffffff;
    }

    .header-item-list-link:hover {
        color: #c7b299;
    }

    .header-item-list-link:active {
        color: #ffffff;
    }


    .logo {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 181px;
        text-decoration: none;
        color          : #fff;

    }

    .logo-svg {
        fill: currentColor;
    }

    .logo-txt {
        font-family    : 'raleway', 'arial', sans-serif;
        font-weight    : 400;
        font-style     : normal;
        font-size      : 34px;
        line-height    : 1.2;
        font-weight    : 400;
        letter-spacing : -0.04em;
        color          : #ffffff;
        text-decoration: none;
    }

    .logo:hover {
        color: #c7b299;
    }

    .logo-txt:hover {
        color: #c7b299;
    }

    .bt-svg {
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
        text-decoration: none;
        color          : #fff;
        padding        : 0 28px;
    }


    .bt-svg:last-child {
        padding: 0;
        margin : 0;
    }
}

.carusel {
    margin         : 0 auto;
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;


    .carusel-btn {
        margin: auto 0;
    }

    .carusel-btn-left {
        width           : 41px;
        height          : 74px;
        background-image: url(../img/left_btn.png);
        background-size : cover;
        opacity         : 0.5;
    }

    .carusel-btn-right {
        width           : 40px;
        height          : 73px;
        background-image: url(../img/right_btn.png);
        background-size : cover;
        opacity         : 0.5;
    }

    .carusel-btn-left:hover {
        background-image: url(../img/left_11969.png);
    }

    .carusel-btn-right:hover {
        background-image: url(../img/right_11969.png);
    }

    .carusel-btn-left:active {
        background-image: url(../img/left_btn.png);
    }

    .carusel-btn-right:active {
        background-image: url(../img/right_btn.png);
    }

    .carusel-txt {
        max-width      : 590px;
        align-items    : center;
        display        : flex;
        flex-direction : column;
        justify-content: center;
    }

    .title_txt {
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 500;
        font-style : normal;
        font-size  : 36px;
        line-height: 1.2;
        color      : #ffffff;
        margin     : 0 0 14px 0;
    }

    .title_h2 {
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 800;
        font-style : normal;
        font-size  : 52px;
        line-height: 1.2;
        color      : #ffffff;
        margin     : 0 0 19px 0;
    }

    .carusel-text {
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 300;
        font-style : normal;
        font-size  : 16px;
        line-height: 24px;
        color      : #ffffff;
        margin     : 0 0 51px 0;
        text-align : center;
    }

    .btn-link {
        width           : 170px;
        margin          : 0 auto;
        min-height      : 54px;
        padding         : 10px;
        box-sizing      : border-box;
        display         : flex;
        border          : none;
        border-bottom   : 3px solid #998675;
        border-radius   : 3px;
        text-align      : center;
        text-transform  : uppercase;
        text-decoration : none;
        background-color: #998675;
        color           : #fff;
        word-break      : break-all;
    }

    .btn-link-txt {
        margin: auto;
    }

    .btn-link:hover {
        background-color: #fff;
        color           : #998675;
    }

    .btn-link:active {
        background-color: #998675;
        color           : #fff;
    }
}

.carusel-pagination {
    display        : flex;
    justify-content: center;
    width          : 100px;
    padding        : 326px 0 40px 0;
    bottom         : 0;
    margin         : auto;

    .carusel-pagination-item {
        display         : block;
        width           : 10px;
        height          : 10px;
        margin          : 0 5px;
        border-radius   : 50%;
        opacity         : 0.5;
        background-color: #ffffff;
    }

    .carusel-pagination-item:hover {
        background-color: #998675;
        transform       : scale(1.2);
    }

    .carusel-pagination-item:active {
        width           : 10px;
        height          : 10px;
        margin          : 0 5px;
        border-radius   : 50%;
        opacity         : 0.9;
        background-color: #ffffff;
    }
}

/*Main*/

.project {
    width     : 100%;
    min-height: 375px;
}

.Features-project {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    margin-top     : 79px;
    margin-bottom  : 79px;

    .features {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        width          : 300px;
        padding        : 10px 10px 0 10px;
        box-sizing     : border-box;
        /* border      : 1px solid black; */
    }

    .features:after {
        content         : "";
        display         : block;
        width           : 150px;
        height          : 3px;
        background-color: #f1eee9;
    }

    .features:hover .features-icon {
        fill: #c7b299;
    }

    .features:hover .features-title {
        color: #c7b299;
    }

    .features:hover:after {
        background-color: #c7b299;
    }

    .features-icon {
        display: block;
        fill   : #555555;
        margin : 0 0 20px 0;
    }

    .features-title {
        width      : 100%;
        margin     : 29px 0 10px 0;
        text-align : center;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 600;
        font-style : normal;
        font-size  : 22px;
        line-height: 1.2;
        color      : #555555;
    }

    .features-txt {
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 300;
        font-style : normal;
        font-size  : 14px;
        line-height: 24px;
        color      : #8c8c8c;
        text-align : center;
    }
}

.portfolio {
    width           : 100%;
    min-height      : 700px;
    background-color: #fbfaf8;

    .title-h3 {
        width      : 100%;
        margin     : 0 auto;
        padding-top: 84px;
        text-align : center;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 600;
        font-style : normal;
        font-size  : 30px;
        line-height: 1.2;
        color      : #555555;
    }

    .text {
        width         : 100%;
        max-width     : 757px;
        margin        : 0 auto;
        padding-bottom: 40px;
        text-align    : center;
        font-family   : 'montserrat', 'arial', sans-serif;
        font-weight   : 300;
        font-style    : normal;
        font-size     : 16px;
        line-height   : 28px;
        color         : #8c8c8c;
    }

    .multi-foto {
        display        : flex;
        justify-content: center;
        position       : relative;

        .photo-landscape:first-child {
            position  : absolute;
            top       : 84px;
            left      : 345px;
            z-index   : 1;
            max-width : 770px;
            max-height: 400px;
        }

        .photo-landscape:nth-child(2) {
            max-width : 770px;
            max-height: 484px;
            margin    : 0 auto;
            z-index   : 2;
        }

        .photo-landscape:last-child {
            position  : absolute;
            top       : 84px;
            right     : 345px;
            z-index   : 0;
            max-width : 770px;
            max-height: 400px;
        }
    }
}

.blurb {
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 100%;
    min-height      : 150px;
    padding         : 20px;
    box-sizing      : border-box;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);

    .blurb-wrapper {
        max-width: 531px;
        margin   : 0 470px 0 0;
    }

    .blurb-title {
        width      : 100%;
        margin     : 0;
        font-size  : 28px;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 400;
        font-style : normal;
        color      : #fff;
        line-height: 1.2;
        text-align : left;
    }

    .blurb-title span {
        color: #c7b299;
    }

    .blurb-txt {
        width      : 100%;
        margin     : 0;
        font-size  : 18px;
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 300;
        font-style : normal;
        color      : #615855;
        line-height: 1.2;
        text-align : left;
    }

    .blurb-button {
        min-width       : 170px;
        min-height      : 50px;
        border          : none;
        border-bottom   : 2px solid #736357;
        border-radius   : 3px;
        background-color: #998675;
        box-shadow      : inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
    }

    .blurb-button-txt {
        font-family   : 'raleway', 'arial', sans-serif;
        font-weight   : 800;
        font-style    : normal;
        font-size     : 14px;
        line-height   : 23px;
        text-transform: uppercase;
        color         : #ffffff;
        text-transform: uppercase;
        text-align    : center;
    }
}


.card {
    width     : 100%;
    min-height: 400px;

    .card-title {
        width      : 100%;
        margin     : 0 auto;
        padding-top: 84px;
        text-align : center;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 600;
        font-style : normal;
        font-size  : 30px;
        line-height: 1.2;
        color      : #555555;
    }

    .card-text {
        width         : 100%;
        max-width     : 757px;
        margin        : 0 auto;
        padding-bottom: 40px;
        text-align    : center;
        font-family   : 'montserrat', 'arial', sans-serif;
        font-weight   : 300;
        font-style    : normal;
        font-size     : 16px;
        line-height   : 28px;
        color         : #8c8c8c;
    }

    .card-item {
        list-style     : none;
        display        : flex;
        justify-content: center;

    }

    .card-item-list {
        margin-left  : 9px;
        margin-bottom: 39px;

    }

    .card-list:last-child {
        margin-left: 0;
    }

    .card-item-list-btn {
        min-width       : 71px;
        min-height      : 33px;
        background-color: rgba(17, 17, 17, 0.0);
        border          : 1px solid #ebebeb;
        border-radius   : 3px;
        font-family     : 'montserrat', 'arial', sans-serif;
        font-weight     : 300;
        font-style      : normal;
        font-size       : 14px;
        line-height     : 21px;
        color           : #8c8c8c;
    }

    .card-item-list-btn:hover {
        background-color: #998675;
        border-radius   : 3px;
        color           : #ffffff;
    }

    .card-item-list-btn:active {
        background-color: #ffffff;
        border-radius   : 3px;
        color           : #998675;
    }

    .card-product {

        display        : flex;
        flex-wrap      : wrap;
        justify-content: space-evenly;
        padding        : 0 375px;
    }

    .card-product-item {
        position      : relative;
        padding-bottom: 29px;
    }

    .card-product-item:hover .article-btn-link {
        display: block;
    }

    .card-product-item:hover .article-btn-search {
        display: block;
    }

    .card-product-item:hover .article-btn-link:hover {
        background-image: url('../img/link1.svg');
    }

    .card-product-item:hover .article-btn-search:hover {
        background-image: url('../img/lupa1.svg');
    }

    .card-product-item:hover .card-product-item-photo {
        filter: brightness(20%);
    }

    .card-product-item:hover .card-product-item-wrapper {
        background-color: #362f2d;
    }

    .card-product-item:hover .card-product-item-wrapper:before {
        border-bottom: 10px solid #362f2d;
    }

    .card-product-item:hover .card-product-item-title {
        color: #d1d1d1
    }

    .card-product-item:hover .card-product-item-txt {
        color: #c7b299;
    }

    .card-product-item-photo {
        display: block;
        width  : 100%;
    }

    .card-product-item-wrapper {
        width           : 100%;
        /* border       : 1px solid red; */
        position        : relative;
        background-color: #777777;
    }

    .card-product-item-wrapper:before {
        content      : "";
        border       : 10px solid transparent;
        border-bottom: 10px solid #777777;
        position     : absolute;
        top          : -20px;
        left         : 19px;

    }

    .card-product-item-title {
        margin     : 0;
        display    : block;
        text-align : center;
        padding    : 10px 10px 0 10px;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 500;
        font-style : normal;
        font-size  : 20px;
        line-height: 1.2;
        color      : #c7b299;
    }

    .card-product-item-txt {
        display    : block;
        text-align : center;
        padding    : 5px;
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 300;
        font-style : normal;
        font-size  : 14px;
        line-height: 20px;
        color      : #d1d1d1;
    }

    .article-btn-link,
    .article-btn-search {
        width                  : 26px;
        height                 : 26px;
        display                : none;
        -webkit-background-size: cover;
        background-size        : cover;
        background-repeat      : no-repeat;
        background-position    : center;
        border                 : none;
        background-color       : transparent;
        position               : absolute;
        top                    : 45%
    }

    .article-btn-search {
        background-image: url('../img/lupa.svg');
        top             : 107px;
        right           : 145px;
    }

    .article-btn-link {
        background-image: url('../img/link.svg');
        top             : 107px;
        left            : 145px;
    }

    .card-item-btn {
        margin          : 10px auto 39px;
        width           : 170px;
        min-height      : 50px;
        display         : flex;
        justify-content : center;
        align-items     : center;
        border          : none;
        border-bottom   : 2px solid #736357;
        border-radius   : 3px;
        background-color: #998675;
        box-shadow      : inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);

        .card-item-btn-txt {
            font-family   : 'raleway', 'arial', sans-serif;
            font-weight   : 800;
            font-style    : normal;
            font-size     : 14px;
            line-height   : 23px;
            text-transform: uppercase;
            color         : #ffffff;
            text-transform: uppercase;
            text-align    : center;
        }
    }

    .card-item-btn:hover {
        background-color: #ffffff;
        border          : 2px solid #736357;
        color           : #998675;
    }

    .card-item-btn:active {
        background-color: #998675;
    }



    .card-item-btn-txt:active {
        color: #ffffff;
    }
}

.video {
    width          : 100%;
    height         : 705px;
    min-height     : 705px;
    display        : flex;
    justify-content: center;
    align-items    : center;
    position       : relative;
    overflow       : hidden;


    .video-item {
        height  : 100%;
        position: absolute;
        overflow: hidden;

    }

    .video-item::before {
        content: "";
        display: block;

        width           : 100%;
        min-height      : 705px;
        background-color: rgba(17, 17, 17, 0.5);
        ;
    }

    .video-txt-wrp {
        max-width : 564px;
        width     : 100%;
        box-sizing: border-box;
        position  : absolute;

    }

    .video-txt-btn {
        display         : flex;
        width           : 100px;
        height          : 100px;
        border          : none;
        border-radius   : 50%;
        outline         : none;
        background-color: rgba(0, 0, 0, 0.2);
        margin          : 0 auto 42px;

    }

    .video-play-btn-icon {
        margin: auto;
        fill  : #fff;
    }

    .video-play-btn:hover .video-play-btn-icon {
        fill: #c7b299;
    }

    .video-play-btn:active .video-play-btn-icon {
        fill: #fff;

    }

    .video-txt-title {
        font-family: 'raleway', 'arial', sans-serif;
        font-style : normal;
        font-size  : 30px;
        line-height: 1.2;
        font-weight: 500;
        color      : #ffffff;
    }

    .video-txt-p {
        text-align : center;
        font-family: 'montserrat', 'arial', sans-serif;
        font-size  : 16px;
        font-style : normal;
        line-height: 28px;
        font-weight: 300;
        color      : #ffffff;
        margin     : 29px 0;
    }

    .video-txt-time {
        font-family: 'montserrat', 'arial', sans-serif;
        font-size  : 14px;
        line-height: 24px;
        font-weight: 400;
        font-style : normal;
        color      : #c7b299;
    }

    .video-txt-title,
    .video-txt-time {
        display   : block;
        text-align: center;
    }

}


.promo {
    width              : 100%;
    min-height         : 696px;
    background-color   : #fbfaf8;
    background-image   : url('../img/iphone_in_hand_10962.png');
    background-position: 29% 100%;
    background-repeat  : no-repeat;
    margin             : 0 auto;
    display            : flex;
    justify-content    : center;

    .promo-description {

        flex-wrap: wrap;
        margin   : 0;
        padding  : 10% 0 0 25%;
        max-width: 660px;


        .promo-item {
            margin: 0 auto;
        }

        .promo-title {
            margin     : 0 auto;
            font-family: 'raleway', 'arial', sans-serif;
            font-size  : 30px;
            line-height: 1.2;
            font-weight: 600;
            font-style : normal;
            color      : #555555;
        }

        .promo-txt {
            font-family: 'montserrat', 'arial', sans-serif;
            font-size  : 16px;
            line-height: 28px;
            font-weight: 300;
            font-style : normal;
            color      : #8c8c8c;
        }

        .promo-item-list {
            font-family: 'montserrat', 'arial', sans-serif;
            font-size  : 16px;
            line-height: 32px;
            font-weight: 300;
            font-style : normal;
            color      : #8c8c8c;
            list-style : none;
            position   : relative;
            padding    : 0 0 0 29px;
        }
    }
}

.promo-item-list::before {
    content         : "";
    display         : block;
    width           : 21px;
    height          : 21px;
    position        : absolute;
    top             : 5px;
    left            : 0;
    background-image: url(../img/01_10972.png);
    background-size : cover;
}

.static {
    width           : 100%;
    min-height      : 300px;
    background-color: #f4f5f8;
    background-image: linear-gradient(90.0deg, #211b19 0%, #4e3427 100%);
    display         : flex;
    flex-wrap       : wrap;
    justify-content : center;

    .static-item {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;

        box-sizing: border-box;



        .static-icon {
            display: block;
            width  : 54px;
            height : 44px;
            fill   : #c7b299;
            margin : 68px 0 0 0;

        }

        .static-title {
            width      : 100%;
            margin     : 29px 0 10px 0;
            text-align : center;
            font-family: 'montserrat', 'arial', sans-serif;
            font-size  : 48px;
            line-height: 36px;
            font-weight: 200;
            font-style : normal;
            color      : #ffffff;
        }

        .static-txt {
            font-family   : 'montserrat', 'arial', sans-serif;
            font-size     : 14px;
            line-height   : 20px;
            font-weight   : 300;
            text-transform: uppercase;
            color         : #c7b299;
            text-align    : center;
        }

    }

    .clients {
        width     : 136px;
        min-height: 172px;
        margin    : 0 73px 0 0;
    }

    .cups {
        width     : 126px;
        min-height: 172px;
        margin    : 0 81px 0 0;
    }

    .posts {
        width     : 115px;
        min-height: 172px;
        margin    : 0 105px 0 0;
    }

    .likes {
        width     : 75px;
        min-height: 172px;
        margin    : 0 110px 0 0;
        padding   : 0 5px;
    }

    .launched {
        width     : 111px;
        min-height: 172px;
    }

    .static-item:after {
        content         : "";
        display         : block;
        width           : 30px;
        height          : 2px;
        background-color: #ffffff;
    }

    .static-item:hover .static-icon {
        fill: #c7b299;
    }

    .static-item:hover .static-title {
        color: #c7b299;
    }

    .static-item:hover:after {
        background-color: #c7b299;
    }


}

.blog {
    width     : 100%;
    min-height: 705px;
    padding   : 82px 0;


    .blog-title {
        width      : 100%;
        margin     : 0 auto 30px;
        font-family: 'raleway', 'arial', sans-serif;
        font-size  : 30px;
        line-height: 1.2;
        font-weight: 600;
        font-style : normal;
        color      : #555555;
        text-align : center;
    }

    .blog-text {
        max-width  : 760px;
        width      : 100%;
        margin     : 0 auto 39px;
        font-family: 'montserrat', 'arial', sans-serif;
        font-size  : 16px;
        line-height: 28px;
        font-weight: 300;
        color      : #8c8c8c;
        text-align : center;
    }

    .publication {
        width          : 100%;
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;


        .blog-item {
            max-width : 370px;
            min-height: 396px;
            margin    : 0 29px 0 0;
        }

        .blog-item-card {
            position: relative;

            .blog-calendar {
                margin: 0;

                .blog-img {
                    position       : absolute;
                    z-index        : 1;
                    margin         : 0;
                    display        : flex;
                    justify-content: left;
                }

                .blog-calendar-date {
                    position        : absolute;
                    z-index         : 2;
                    top             : 20px;
                    left            : 20px;
                    width           : 50px;
                    height          : 35px;
                    background-color: #363636;
                    border-radius   : 3px 3px 0px 0px;
                    font-family     : 'montserrat', 'arial', sans-serif;
                    font-size       : 24px;
                    line-height     : 20px;
                    font-weight     : 300;
                    font-style      : normal;
                    color           : #ffffff;
                    text-align      : center;
                    padding-top     : 10px;
                }

                .blog-calendar-mo {
                    position        : absolute;
                    z-index         : 3;
                    top             : 55px;
                    left            : 20px;
                    width           : 50px;
                    height          : 25px;
                    background-color: #252525;
                    border-radius   : 0px 0px 3px 3px;
                    font-family     : 'roboto', 'arial'sans-serif;
                    font-size       : 12px;
                    line-height     : 20px;
                    font-weight     : 400;
                    font-style      : normal;
                    color           : #ffffff;
                    text-align      : center;
                    padding-top     : 8px;
                }
            }

            .blog-pagination {
                display        : flex;
                justify-content: center;
                width          : 100px;
                left           : 134px;
                bottom         : 22px;
                margin         : 0;

                .blog-pagination-item {
                    display         : block;
                    width           : 10px;
                    height          : 10px;
                    margin          : 0 5px;
                    border-radius   : 50%;
                    opacity         : 0.5;
                    background-color: #ffffff;
                }

                .blog-pagination-item:hover {
                    background-color: rgba(255, 255, 255, 0.0);
                    border          : 2px solid #d3c1ad;
                    transform       : scale(1.0);
                }

                .blog-pagination-item:active {
                    width           : 10px;
                    height          : 10px;
                    margin          : 0 5px;
                    border-radius   : 50%;
                    opacity         : 0.9;
                    background-color: #ffffff;
                }
            }
        }

        .blog-item:hover {
            background-color: #362f2d;
        }

        .blog-item:hover .blog-calendar-date {
            color           : #ffffff;
            background-color: #c7b299;
        }

        .blog-item:hover .blog-calendar-mo {
            color           : #ffffff;
            background-color: #a48d72;
        }

        .blog-item:hover .blog-card-title {
            color: #c7b299;
        }

        .blog-item:hover .blog-card-text {
            color: #ffffff;
        }

        .blog-item:hover .blog-card-link {
            color: #c7b299;
        }

        .blog-item:hover .blog-card-link::after {
            color: #c7b299;
        }

        .blog-item:hover .blog-img {
            opacity: 0.7;
        }


    }

    .blog-card {
        max-width      : 298px;
        width          : 100%;
        margin         : 0 auto;
        display        : flex;
        justify-content: left;
        flex-wrap      : wrap;


        .blog-card-title {
            width      : 100%;
            font-family: 'raleway', 'arial', sans-serif;
            font-size  : 20px;
            font-style : normal;
            line-height: 1.2;
            font-weight: 500;
            color      : #555555;
        }

        .blog-card-text {
            width      : 100%;
            font-family: 'montserrat', 'arial', sans-serif;
            font-size  : 14px;
            line-height: 22px;
            font-weight: 300;
            font-style : normal;
            color      : #8c8c8c;
        }

        .blog-card-link {
            font-family    : 'montserrat', 'arial', sans-serif;
            font-size      : 14px;
            line-height    : 20px;
            font-weight    : 300;
            font-style     : normal;
            color          : #c7b299;
            text-decoration: none;
            position       : relative;
        }
    }

    .blog-card-link::after {
        content    : " ";
        position   : absolute;
        border     : 5px solid transparent;
        border-left: 8px solid #c7b299;
        right      : -20px;
        top        : 6px;
        width      : 0;
        height     : 0;
    }

    .blog-pagination {
        position: absolute;
    }

    .blog-arrows {
        width          : 100%;
        display        : flex;
        justify-content: center;
        margin         : 39px 0 0 0;

        .blog-arrows-left {
            fill        : #d1d1d1;
            margin-right: 7px;
        }

        .blog-arrows-left:hover {
            fill: #c7b299;
        }

        .blog-arrows-left:active {
            fill: #d1d1d1;
        }

        .blog-arrows-right {
            fill: #d1d1d1;
        }

        .blog-arrows-right:hover {
            fill: #c7b299;
        }

        .blog-arrows-right:active {
            fill: #d1d1d1;
        }
    }
}

.brand {
    width           : 100%;
    min-height      : 490px;
    margin          : 0;
    display         : flex;
    justify-content : center;
    background-image: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url('../img/bg_photo_brand.png');


    .brand-item {

        width          : 100%;
        max-height     : 210px;
        margin         : 140px auto;
        display        : flex;
        justify-content: center;
        align-items    : center;
        box-sizing     : border-box;

        .brand-logo {
            margin: 0 90px 0 0;
        }

        .brand-logo:last-child {
            margin: 0;
        }
    }

}

.footer-i {
    width           : 100%;
    min-height      : 508px;
    background-color: #191919;
    margin          : 0 auto;
    padding         : 80px auto;
    display         : flex;
    justify-content : center;
    align-items     : center;

    .footer-preview {
        width          : 275px;
        display        : inline-block;
        justify-content: space-between;
        flex-wrap      : wrap;
        align-items    : flex-start;
        margin-right   : 30px;

        .footer-preview:last-child {
            margin-right: 0;
        }

        .footer-preview-logo {
            display        : flex;
            justify-content: space-between;
            width          : 181px;
            text-decoration: none;
            color          : #fff;
        }

        .footer-preview-logo-svg {
            fill: currentColor;
        }

        .footer-preview-logo-txt {
            font-family    : 'raleway', 'arial', sans-serif;
            font-weight    : 400;
            font-style     : normal;
            font-size      : 34px;
            line-height    : 1.2;
            font-weight    : 400;
            letter-spacing : -0.04em;
            color          : #ffffff;
            text-decoration: none;
        }

        .footer-preview-logo:hover {
            color: #c7b299;
        }

        .footer-preview-logo-txt:hover {
            color: #c7b299;
        }

        .footer-preview-text {
            font-family: 'montserrat', 'arial', sans-serif;
            font-size  : 14px;
            line-height: 24px;
            font-weight: 300;
            font-style : normal;
            color      : #555555;
        }

        .footer-card-link {
            width          : 100%;
            font-family    : 'montserrat', 'arial', sans-serif;
            font-size      : 14px;
            line-height    : 20px;
            font-weight    : 400;
            font-style     : normal;
            color          : #d1d1d1;
            text-decoration: none;
            position       : relative;
            margin-right   : 9px;
        }

        .footer-card-link::after {
            content    : " ";
            position   : absolute;
            border     : 5px solid transparent;
            border-left: 8px solid #d1d1d1;
            right      : -20px;
            top        : 4px;
            width      : 0;
            height     : 0;
        }

        .footer-card-link:hover {
            color: #c7b299;
        }

        .footer-card-link::after:hover {
            color: #c7b299
        }

        .footer-title {
            font-family: 'raleway', 'arial', sans-serif;
            font-size  : 24px;
            line-height: 1.2;
            font-weight: 700;
            font-style : normal;
            color      : #ffffff;
        }

        .footer-link {
            text-decoration: none;
            font-family    : 'montserrat', 'arial', sans-serif;
            font-size      : 14px;
            line-height    : 20px;
            font-weight    : 300;
            font-style     : normal;
            color          : #555555;
        }

        .twitter {
            color: #00bff3;
        }

        .posts:hover {
            color: #c7b299;
        }

        .posts:hover .posts-time {
            color: #ffffff;
        }

        .footer-time {
            font-family: 'montserrat', 'arial', sans-serif;
            font-size  : 12px;
            line-height: 20px;
            font-weight: 300;
            font-style : normal;
            color      : #363636;
        }

        .footer-hr {
            text-decoration : none;
            background-color: #191919;
            opacity         : 0.8;
        }

        .footer-img {
            background-color: #777777;
            display         : inline-block;
            justify-content : center;
            box-sizing      : border-box;
            flex-wrap       : wrap;
            width           : 100%;
            max-width       : 130px;
            min-height      : 98px;
            margin          : 0;
        }

        .widget1 {
            margin-right    : 8px;
            margin-bottom   : 8px;
            background-image: url('../img/footer1.png');
        }

        .widget2 {

            margin-bottom   : 8px;
            background-image: url('../img/footer2.png');
        }

        .widget3 {
            margin-right    : 8px;
            background-image: url('../img/footer3.png');
        }

        .widget4 {
            background-image: url('../img/footer4.png');
        }
    }

}




.contacts {
    width           : 100%;
    height          : 111px;
    background-color: #111111;
    margin          : 0 auto;

    display        : flex;
    justify-content: space-evenly;
    align-items    : center;
    text-align     : center;

    .contacts-item {
        list-style     : none;
        text-decoration: none;
        font-family    : Montserrat;
        font-size      : 13px;
        line-height    : 20px;
        font-weight    : 300;
        color          : #555555;
    }

    .contacts-item-list {
        display        : inline;
        text-decoration: none;
        list-style     : none;
        font-family    : Montserrat;
        font-size      : 13px;
        line-height    : 20px;
        font-weight    : 300;
        color          : #555555;
    }

    .contacts-item-list-link {
        text-decoration: none;
        list-style     : none;
        font-family    : Montserrat;
        font-size      : 13px;
        line-height    : 20px;
        font-weight    : 300;
        color          : #555555;
    }

    .logos {
        color: #959595;
    }

    .contacts-item-list-link:hover {
        color: #c7b299;
    }

    .contacts-item-list::after {
        content: "|";
        display: inline;
        color  : #252525;
    }

    .contacts-item-list:last-child:after {
        content: " ";

    }

}















/*Адаптив*/

@media (min-width: 769px) {
    .mobile-menu {
        display: none;
    }
}

@media (max-width: 1680px) {
    .content {
        background-size: cover;
    }

    .promo {
        .promo-description {
            padding: 15% 0 0 55%;
        }
    }

    .card .card-product {

        padding        : 0 10px;
        justify-content: space-between;
    }
}

@media (max-width: 1024px) {
    .multi-foto {
        width: 100%;

        .photo-landscape:first-child {
            width: 50%;

        }

        .photo-landscape:nth-child(2) {
            width: 50%;

        }

        .photo-landscape:last-child {
            width: 50%;

        }

    }

    .brand-item {
        flex-wrap      : wrap;
        justify-content: center;
        align-items    : flex-start;
        margin         : 0 auto;

        .brand-logo-img {
            max-height: 80px;
            margin    : 0;
        }
    }

    .static-item {
        *:after {
            display: none
        }
    }

    .card .card-product {
        padding        : 0 10px;
        justify-content: space-evenly;
    }

    .blurb .blurb-wrapper {
        margin: 0 400px 0 0;
    }

}

@media (max-width:768px) {
    .content {
        padding   : 40px 50px 0 50px;
        min-height: 230px;
    }

    .page-header {
        margin         : 0 auto;
        display        : flex;
        justify-content: space-between;
        position       : relative;
    }

    .page-header .menu {
        display: none;
    }

    .page-header .mobile-menu {
        position       : absolute;
        display        : flex;
        align-items    : center;
        justify-content: flex-end;
        padding        : 0 16px;
        top            : 0;
        left           : 0;
        right          : 0;
        height         : 50px;
        z-index        : 999;

        &__btn {
            position       : relative;
            display        : flex;
            align-items    : center;
            justify-content: center;
            width          : 35px;
            height         : 30px;
            cursor         : pointer;
            transition     : .4s;
        }

        &__icon {
            display   : block;
            position  : relative;
            background: rgba(255, 255, 255, 1);
            width     : 90%;
            height    : 4px;
            transition: .4s;

            &::after,
            &::before {
                content   : "";
                display   : block;
                position  : absolute;
                background: rgba(255, 255, 255, 1);
                width     : 100%;
                height    : 4px;
                transition: .4s;
            }

            &::after {
                top: 8px;
            }

            &::before {
                top: -8px;
            }
        }

        &__container {
            position        : absolute;
            text-align      : center;
            display         : flex;
            align-items     : center;
            justify-content : center;
            top             : 50px;
            left            : 0;
            right           : 0;
            z-index         : 999;
            height          : 0;
            opacity         : 1;
            transition      : .5s;
            transition-delay: .2s;
            overflow        : hidden;
            background-color: #d1d1d1;

        }

        &__list {
            transition      : .5s;
            transition-delay: .5s;
            list-style      : none;
            padding-left    : 0;
            margin-top      : -50px;
        }

        &__item {
            font-size     : 26px;
            padding-bottom: 15px;
        }

        &__link {
            text-decoration: none;
            color          : #c0b099;
        }

        &__checkbox {
            display: none;

            &:checked~ {
                .mobile-menu {

                    &__nav {
                        opacity         : 1;
                        transition-delay: 0s;
                    }

                    &__container {
                        min-height      : 450px;
                        transition-delay: 0s;
                    }

                    &__btn {
                        .mobile-menu__icon {
                            background: transparent;

                            &::before,
                            &::after {
                                top: 0;
                            }

                            &::after {
                                transform        : rotate(-45deg);
                                -webkit-transform: rotate(-45deg);
                            }

                            &::before {
                                transform        : rotate(45deg);
                                -webkit-transform: rotate(45deg);
                            }
                        }
                    }
                }
            }
        }
    }

    .page-header .bt-svg {
        display: none;
    }

    .promo {
        display: none;
    }

    .carusel {
        display: none;
    }

    .carusel-pagination {
        display: none;
    }

    .brand-logo {
        flex-wrap      : wrap;
        justify-content: center;
        align-items    : center;
        height         : 50px;
    }

    .card .card-product {
        width  : 100%;
        padding: 0;
    }

    .multi-foto {
        width: 100%;

        .photo-landscape:first-child {
            width: 50%;

        }

        .photo-landscape:nth-child(2) {
            width: 50%;

        }

        .photo-landscape:last-child {
            width: 50%;

        }

    }

    .blurb .blurb-wrapper {
        margin: 0 400px 0 0;
    }
}

@media (max-width: 710px) {
    .blurb {
        flex-wrap: wrap;

        .blurb-txt {
            text-align    : center;
            padding-bottom: 44px;
        }

        .blurb-wrapper {
            margin   : 0;
            display  : flex;
            flex-wrap: wrap;
        }
    }

    .Features-project .features {
        margin-bottom: 43px;
    }

    .static .clients {
        margin: 0 73px 0 73px;
    }

    .static .posts {
        margin: 0 105px 0 105px;
    }

    .static .launched {
        margin-bottom: 66px;
    }

    .video {
        display: none;
    }

    .blog .blog-title {
        margin: 0 auto 22px;
    }

    .blog .blog-text {
        font-family: 'MyriadPro', 'arial', sans-serif;
        font-size  : 16.7px;
        line-height: 20px;
        font-weight: 400;
        font-style : normal;
        color      : #8c8c8c;
    }

    .blog .publication .blog-item {
        border       : 1px solid #f8f8f8;
        margin-bottom: 73px;
    }

    .blog .publication .blog-item:last-child {
        margin-bottom: 0;
    }


    .brand-logo {
        display      : flex;
        flex-flow    : column;
        flex-wrap    : wrap;
        margin-bottom: 15px;
        height       : 100px;
        margin       : 15px auto;
    }

    .footer-i {
        display: none;
    }

    .portfolio {
        display: none;
    }


}

@media (max-width: 480px) {
    .card .card-item {
        flex-wrap: wrap;
        padding  : 0;
    }

    .blurb {
        display: block;
    }

    .blurb .blurb-wrapper {
        max-width: 530px;
        margin   : 0;
    }
}