@charset "UTF-8";
@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-extrabold.ttf");
  font-weight: 800;
  font-style: normal;
}

.conteiner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/*HEADER*/
.content {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg_photo_11949.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_photo_11949.png);
  min-height: 1024px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 40px 150px 0 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  max-width: 1124px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.page-header .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.page-header .header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header .header-item-list {
  list-style: none;
  padding: 0 30px 0 0;
}

.page-header .header-item-list:last-child {
  padding: 0;
}

.page-header .header-item-list-link {
  text-decoration: none;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.page-header .header-item-list-link:hover {
  color: #c7b299;
}

.page-header .header-item-list-link:active {
  color: #ffffff;
}

.page-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
}

.page-header .logo-svg {
  fill: currentColor;
}

.page-header .logo-txt {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-decoration: none;
}

.page-header .logo:hover {
  color: #c7b299;
}

.page-header .logo-txt:hover {
  color: #c7b299;
}

.page-header .bt-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 0 28px;
}

.page-header .bt-svg:last-child {
  padding: 0;
  margin: 0;
}

.carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 400px;
  margin: 309px 0 0 0;
  position: relative;
}

.carusel .slider-arrow {
  display: block;
  width: 40px;
  height: 73px;
  position: relative;
}

.carusel .slider-arrow:after {
  content: "";
  display: inline-block;
  width: 52px;
  height: 52px;
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  top: 10px;
  left: -25px;
}

.carusel .slider-arrow:hover:after {
  border-top: 2px solid #d3c1ad;
  border-right: 2px solid #d3c1ad;
}

.carusel .btn-left::after {
  -webkit-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

.carusel .btn-left::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.carusel .carusel-btn:nth-of-type(1) {
  margin: 0 50px 0 0;
}

.carusel .carusel-btn:nth-of-type(2) {
  margin: 0 0 0 50px;
}

.carusel .carusel-txt {
  width: 589px;
  min-height: 200px;
  text-align: center;
  margin: 0 475px;
}

.carusel .title_txt {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 14px 0;
}

.carusel .title_h2 {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 19px 0;
}

.carusel .carusel-text {
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 51px 0;
}

.carusel .btn-link {
  width: 170px;
  margin: 0 auto;
  min-height: 54px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  color: #fff;
  word-break: break-all;
}

.carusel .btn-link-txt {
  margin: auto;
}

.carusel .btn-link:hover {
  background-color: #fff;
  color: #998675;
}

.carusel .btn-link:active {
  background-color: #998675;
  color: #fff;
}

.carusel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding: 326px 0 40px 0;
  bottom: 0;
  margin: auto;
}

.carusel-pagination .carusel-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
}

.carusel-pagination .carusel-pagination-item:hover {
  background-color: #998675;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carusel-pagination .carusel-pagination-item:active {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.9;
  background-color: #ffffff;
}

/*Main*/
.project {
  width: 100%;
  min-height: 375px;
}

.Features-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 79px;
}

.Features-project .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border      : 1px solid black; */
}

.Features-project .features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}

.Features-project .features:hover .features-icon {
  fill: #c7b299;
}

.Features-project .features:hover .features-title {
  color: #c7b299;
}

.Features-project .features:hover:after {
  background-color: #c7b299;
}

.Features-project .features-icon {
  display: block;
  fill: #555555;
  margin: 0 0 20px 0;
}

.Features-project .features-title {
  width: 100%;
  margin: 29px 0 10px 0;
  text-align: center;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  color: #555555;
}

.Features-project .features-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  text-align: center;
}

.portfolio {
  width: 100%;
  min-height: 700px;
  background-color: #fbfaf8;
}

.portfolio .title-h3 {
  width: 100%;
  margin: 0 auto;
  padding-top: 84px;
  text-align: center;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
}

.portfolio .text {
  width: 100%;
  max-width: 757px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.portfolio .multi-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.portfolio .multi-foto .photo-landscape:first-child {
  position: absolute;
  top: 84px;
  left: 345px;
  z-index: 1;
  width: 770px;
  height: 400px;
}

.portfolio .multi-foto .photo-landscape:nth-child(2) {
  width: 770px;
  height: 484px;
  margin: 0 auto;
  z-index: 2;
}

.portfolio .multi-foto .photo-landscape:last-child {
  position: absolute;
  top: 84px;
  right: 345px;
  z-index: 0;
  width: 770px;
  height: 400px;
}

.blurb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 150px;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, right top, from(#211b19), to(#4e3427));
  background-image: linear-gradient(90deg, #211b19 0%, #4e3427 100%);
}

.blurb .blurb-wrapper {
  width: 531px;
  margin: 0 470px 0 0;
}

.blurb .blurb-title {
  width: 100%;
  margin: 0;
  font-size: 28px;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  line-height: 1.2;
  text-align: left;
}

.blurb .blurb-title span {
  color: #c7b299;
}

.blurb .blurb-txt {
  width: 100%;
  margin: 0;
  font-size: 18px;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #615855;
  line-height: 1.2;
  text-align: left;
}

.blurb .blurb-button {
  width: 170px;
  min-height: 50px;
  border: none;
  border-bottom: 2px solid #736357;
  border-radius: 3px;
  background-color: #998675;
  -webkit-box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
          box-shadow: inset 0px 3px 0px 0px rgba(115, 99, 87, 0.004);
}

.blurb .blurb-button-txt {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 14px;
  line-height: 23px;
  text-transform: uppercase;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.card {
  width: 100%;
  min-height: 400px;
}

.card .card-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 375px;
}

.card .card-title {
  width: 100%;
  margin: 0 auto;
  padding-top: 84px;
  text-align: center;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  line-height: 1.2;
  color: #555555;
}

.card .card-text {
  width: 100%;
  max-width: 757px;
  margin: 0 auto;
  padding-bottom: 40px;
  text-align: center;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;
  color: #8c8c8c;
}

.card .card-item {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card .card-item-list {
  margin-left: 9px;
  margin-bottom: 39px;
}

.card .card-list:last-child {
  margin-left: 0;
}

/*Адаптив*/
@media (max-width: 1680px) {
  .content {
    background-size: cover;
  }
}
/*# sourceMappingURL=style.css.map */