@font-face {
    font-family: montserrat;
    src        : url("../fonts/Montserrat-Regular.otf");
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: montserrat;
    src        : url("../fonts/Montserrat-Light.otf");
    font-weight: 300;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-regular.ttf");
    font-weight: 400;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-medium.ttf");
    font-weight: 500;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-semibold.ttf");
    font-weight: 600;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-bold.ttf");
    font-weight: 700;
    font-style : normal;
}

@font-face {
    font-family: raleway;
    src        : url("../fonts/raleway-extrabold.ttf");
    font-weight: 800;
    font-style : normal;
}




.conteiner {
    max-width: 1920px;
    width    : 100%;
    margin   : 0 auto;
}

/*HEADER*/

.content {
    width            : 100%;
    min-height       : 1024px;
    background-image : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_photo_11949.png);
    background-size  : cover;
    background-repeat: no-repeat;
}

.page-header {
    width           : 1140px;
    padding         : 38px 0 0 0;
    box-sizing      : border-box;
    display         : flex;
    background-color: inherit;
    margin          : 0 0 196px 354px;

    .menu {
        width: 100%;

    }

    .header-item {
        display        : flex;
        padding        : 0;
        justify-content: center;
    }

    .header-item-list {
        list-style: none;
        padding   : 0 30px 0 0;
    }

    .header-item-list:last-child {
        padding: 0;
    }

    .header-item-list-link {
        text-decoration: none;
        font-family    : 'montserrat', 'arial', sans-serif;
        font-weight    : 300;
        font-style     : normal;
        font-size      : 14px;
        line-height    : 1.2;
        color          : #ffffff;
    }

    .header-item-list-link:hover {
        color: #c7b299;
    }

    .header-item-list-link:active {
        color: #ffffff;
    }


    .logo {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 181px;
        text-decoration: none;
        color          : #fff;
        margin         : 0 200px 0 0;
    }

    .logo-svg {
        fill: currentColor;
    }

    .logo-txt {
        font-family    : 'raleway', 'arial', sans-serif;
        font-weight    : 400;
        font-style     : normal;
        font-size      : 34px;
        line-height    : 1.2;
        font-weight    : 400;
        letter-spacing : -0.04em;
        color          : #ffffff;
        text-decoration: none;
    }

    .logo:hover {
        color: #c7b299;
    }

    .logo-txt:hover {
        color: #c7b299;
    }

    .bt-svg {
        display        : flex;
        justify-content: space-evenly;
        align-items    : center;
        text-decoration: none;
        color          : #fff;
        padding        : 0 28px 0 0;
    }

    .bt-svg:last-child {
        padding: 0;
    }
}

.carusel {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    align-items    : center;
    width          : 100%;
    min-height     : 400px;
    margin         : 0 auto;
    position       : relative;

    .slider-arrow {
        display : block;
        width   : 40px;
        height  : 73px;
        position: relative;
    }

    .slider-arrow:after {
        content     : "";
        display     : inline-block;
        width       : 52px;
        height      : 52px;
        border-top  : 2px solid #ffffff;
        border-right: 2px solid #ffffff;
        transform   : rotate(45deg);
        position    : absolute;
        top         : 10px;
        left        : -25px;
    }

    .slider-arrow:hover:after {
        border-top  : 2px solid #d3c1ad;
        border-right: 2px solid #d3c1ad;
    }

    .btn-left::after {
        transform: rotate(-140deg);
    }

    .btn-left::before {
        transform: rotate(225deg);
    }

    .carusel-btn:nth-of-type(1) {
        margin: 0 50px 0 0;
    }

    .carusel-btn:nth-of-type(2) {
        margin: 0 0 0 50px;
    }


    .carusel-txt {
        width     : 589px;
        min-height: 200px;
        text-align: center;
        margin    : 0 475px;
    }

    .title_txt {
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 500;
        font-style : normal;
        font-size  : 36px;
        line-height: 1.2;
        color      : #ffffff;
        margin     : 0 0 14px 0;
    }

    .title_h2 {
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 800;
        font-style : normal;
        font-size  : 52px;
        line-height: 1.2;
        color      : #ffffff;
        margin     : 0 0 19px 0;
    }

    .carusel-text {
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 300;
        font-style : normal;
        font-size  : 16px;
        line-height: 24px;
        color      : #ffffff;
        margin     : 0 0 51px 0;
    }

    .btn-link {
        width           : 170px;
        margin          : 0 auto;
        min-height      : 54px;
        padding         : 10px;
        box-sizing      : border-box;
        display         : flex;
        border          : none;
        border-bottom   : 3px solid #998675;
        border-radius   : 3px;
        text-align      : center;
        text-transform  : uppercase;
        text-decoration : none;
        background-color: #998675;
        color           : #fff;
        word-break      : break-all;
    }

    .btn-link-txt {
        margin: auto;
    }

    .btn-link:hover {
        background-color: #fff;
        color           : #998675;
    }

    .btn-link:active {
        background-color: #998675;
        color           : #fff;
    }

    .carusel-pagination {
        display        : flex;
        justify-content: center;
        width          : 100px;
        padding        : 5px 0;
        position       : absolute;
        bottom         : 0;
        margin         : auto;
    }

    .carusel-pagination-item {
        display         : block;
        width           : 10px;
        height          : 10px;
        margin          : 0 5px;
        border-radius   : 50%;
        opacity         : 0.5;
        background-color: #ffffff;
    }

    .carusel-pagination-item:hover {
        background-color: #998675;
        transform       : scale(1.2);
    }

    .carusel-pagination-item:active {
        width           : 10px;
        height          : 10px;
        margin          : 0 5px;
        border-radius   : 50%;
        opacity         : 0.9;
        background-color: #ffffff;
    }
}

.project {
    width     : 100%;
    min-height: 375px;
}

.Features-project {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
    margin-top     : 79px;
    margin-bottom  : 79px;

    .features {
        display        : flex;
        flex-wrap      : wrap;
        justify-content: center;
        width          : 300px;
        padding        : 10px 10px 0 10px;
        box-sizing     : border-box;
        /* border      : 1px solid black; */
    }

    .features:after {
        content         : "";
        display         : block;
        width           : 150px;
        height          : 3px;
        background-color: #f1eee9;
    }

    .features:hover .features-icon {
        fill: #c7b299;
    }

    .features:hover .features-title {
        color: #c7b299;
    }

    .features:hover:after {
        background-color: #c7b299;
    }

    .features-icon {
        display: block;
        fill   : #555555;
        margin : 0 0 20px 0;
    }

    .features-title {
        width      : 100%;
        margin     : 29px 0 10px 0;
        text-align : center;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 600;
        font-style : normal;
        font-size  : 22px;
        line-height: 1.2;
        color      : #555555;
    }

    .features-txt {
        font-family: 'montserrat', 'arial', sans-serif;
        font-weight: 300;
        font-style : normal;
        font-size  : 14px;
        line-height: 24px;
        color      : #8c8c8c;
        text-align : center;
    }
}

.portfolio {
    width           : 100%;
    min-height      : 700px;
    background-color: #fbfaf8;

    .title-h3 {
        width      : 100%;
        margin     : 0 auto;
        padding-top: 84px;
        text-align : center;
        font-family: 'raleway', 'arial', sans-serif;
        font-weight: 600;
        font-style : normal;
        font-size  : 30px;
        line-height: 1.2;
        color      : #555555;
    }

    .text {
        width         : 100%;
        max-width     : 757px;
        margin        : 0 auto;
        padding-bottom: 40px;
        text-align    : center;
        font-family   : 'montserrat', 'arial', sans-serif;
        font-weight   : 300;
        font-style    : normal;
        font-size     : 16px;
        line-height   : 28px;
        color         : #8c8c8c;
    }

    .multi-foto {
        display        : flex;
        justify-content: center;
        position       : relative;

        .photo-landscape:first-child {
            position: absolute;
            top     : 80px;
            left    : 345px;
            z-index : 1;
            width   : 770px;
            height  : 400px;
        }

        .photo-landscape:nth-child(2) {
            width  : 770px;
            height : 482px;
            margin : 0 auto;
            z-index: 2;
        }

        .photo-landscape:last-child {
            position: absolute;
            top     : 80px;
            right   : 345px;
            z-index : 0;
            width   : 770px;
            height  : 400px;
        }
    }
}

.block {
    width           : 100%;
    min-height      : 400px;
    background-color: antiquewhite;
}