@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Regular.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: raleway;
  src: url("../fonts/raleway-extrabold.ttf");
  font-weight: 800;
  font-style: normal;
}

.conteiner {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

/*HEADER*/
.content {
  width: 100%;
  min-height: 1024px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/bg_photo_11949.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/bg_photo_11949.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.page-header {
  width: 1140px;
  padding: 38px 0 0 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: inherit;
  margin: 0 0 196px 354px;
}

.page-header .menu {
  width: 100%;
}

.page-header .header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-header .header-item-list {
  list-style: none;
  padding: 0 30px 0 0;
}

.page-header .header-item-list:last-child {
  padding: 0;
}

.page-header .header-item-list-link {
  text-decoration: none;
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #ffffff;
}

.page-header .header-item-list-link:hover {
  color: #c7b299;
}

.page-header .header-item-list-link:active {
  color: #ffffff;
}

.page-header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 181px;
  text-decoration: none;
  color: #fff;
  margin: 0 200px 0 0;
}

.page-header .logo-svg {
  fill: currentColor;
}

.page-header .logo-txt {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.04em;
  color: #ffffff;
  text-decoration: none;
}

.page-header .logo:hover {
  color: #c7b299;
}

.page-header .logo-txt:hover {
  color: #c7b299;
}

.page-header .bt-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: #fff;
  padding: 0 28px 0 0;
}

.page-header .bt-svg:last-child {
  padding: 0;
}

.carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 400px;
  margin: 0 auto;
  position: relative;
}

.carusel .carusel-btn {
  display: block;
  width: 20px;
  height: 20px;
  margin: 40px;
  position: relative;
}

.carusel .carusel-btn:after {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: #d3c1ad;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  position: absolute;
  top: 0px;
  left: 0;
  opacity: 0.5;
}

.carusel .carusel-btn::before {
  content: "";
  display: block;
  width: 52px;
  height: 0px;
  border-width: 2px;
  border-style: solid;
  border-color: #d3c1ad;
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  position: absolute;
  top: 38px;
  left: 0;
  opacity: 0.5;
}

.carusel .carusel-btn:hover::before,
.carusel .carusel-btn:hover::after {
  border: 2px solid #ccb69d;
}

.carusel .carusel-btn:active::before,
.carusel .carusel-btn:active::after {
  border: 2px solid #d3c1ad;
}

.carusel .btn-left::after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.carusel .btn-left::before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.carusel .carusel-btn:nth-of-type(1) {
  margin: 0 50px 0 0;
}

.carusel .carusel-btn:nth-of-type(2) {
  margin: 0 0 0 50px;
}

.carusel .carusel-txt {
  width: 589px;
  min-height: 200px;
  text-align: center;
  margin: 0 475px;
}

.carusel .title_h3 {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 36px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 14px 0;
}

.carusel .title_h2 {
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 52px;
  line-height: 1.2;
  color: #ffffff;
  margin: 0 0 19px 0;
}

.carusel .carusel-text {
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin: 0 0 51px 0;
}

.carusel .btn-link {
  width: 170px;
  margin: 0 auto;
  min-height: 54px;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  border-bottom: 3px solid #998675;
  border-radius: 3px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #998675;
  color: #fff;
  word-break: break-all;
}

.carusel .btn-link-txt {
  margin: auto;
}

.carusel .btn-link:hover {
  background-color: #fff;
  color: #998675;
}

.carusel .btn-link:active {
  background-color: #998675;
  color: #fff;
}

.carusel .carusel-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  padding: 5px 0;
  position: absolute;
  bottom: 0;
  margin: auto;
}

.carusel .carusel-pagination-item {
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.5;
  background-color: #ffffff;
}

.carusel .carusel-pagination-item:hover {
  background-color: #998675;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.carusel .carusel-pagination-item:active {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0.9;
  background-color: #ffffff;
}

.project {
  width: 100%;
  min-height: 375px;
}

.Features-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 79px;
  margin-bottom: 79px;
}

.Features-project .features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  padding: 10px 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border      : 1px solid black; */
}

.Features-project .features:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: #f1eee9;
}

.Features-project .features:hover .features-icon {
  fill: #c7b299;
}

.Features-project .features:hover .features-title {
  color: #c7b299;
}

.Features-project .features:hover:after {
  background-color: #c7b299;
}

.Features-project .features-icon {
  display: block;
  fill: #555555;
  margin: 0 0 20px 0;
}

.Features-project .features-title {
  width: 100%;
  margin: 29px 0 10px 0;
  text-align: center;
  font-family: 'raleway', 'arial', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 22px;
  line-height: 1.2;
  color: #555555;
}

.Features-project .features-txt {
  font-family: 'montserrat', 'arial', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #8c8c8c;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */